html[hc="invert"] {
	-webkit-filter: invert();
}

html[ts="large"] body {
  font-size: large !important;
}

html[ts="x-large"] body {
  font-size: x-large !important;
}

html[zoom="200%"] body {
  zoom: 2;
}

html[zoom="300%"] body {
  zoom: 3;
}

.simpWarn {
	position: absolute;
	top: 0;
	height: 100px;
}

body[simp="true"] {
  background: #EEE;
}

div#simpleContainer {	
  background: white;
	max-width: 980px;
	margin: 0 auto;
	padding: 1em;
}

div#simpleContainer > div.article {
  display: block;
  clear: both;
  overflow: hidden;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
}

div.article > p {
  font-size: large;
  line-height: 120%;
}

div#simpleContainer img {
	float: left;
	clear: left;
	margin: 0 1em 1em 0; 
}