/* Personalization options */
html[hc="invert"] {
  -webkit-filter: invert();
}
			
html[ts="large"] > body {
  font-size: large;
}
			
html[ts="large"] > body {
  width: 400px;
}
			
html[ts="x-large"] > body {
 font-size: x-large;
}
		
html[ts="x-large"] > body {
  width: 500px;
}
			
html[zoom="200%"] {
  zoom: 2;
}
			
html[zoom="300%"] {
  zoom: 3;
}			

/* Common options */

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 400px;
  margin: 0;
}

/* Token form */

div#token-form-container {
	display: block;
	padding: 1em;
	background: #1b428d;
}

img#c4a-logo {
  display: inline-block;
  float: left;
  margin-right: .5em;
}

div#token-form-container h1 {
	color: white;
  font-size: 26px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 18px;
	z-index: 1;
}

input#token-input {
	font-size: 1.2em;
	background: #1b428d;
	border: 1px solid white;
	color: white;
	z-index: 2;
}

div#token-form-container input[type='submit'] {
  display: none;
}

div#token-form-container div#results {
	display: none;
  padding-bottom: 1em;
	color: white;
}

span.warning {
  color: yellow;
}

div#token-form-container div#options {
	display: block;
  color: white;
  padding-bottom: 10px;
}

div#token-form-container div#options a {
  color: #DAEEF3;
  display: inline-block;
  z-index: 4;
}

div#token-form-container div#options a#exitbutton {
  float: right;
  display: none;
  z-index: 5;
}


/* Style of preferences form */

div#preferencesContainer div#header {
  padding: 0 1em;
}
			
.config_option {
  border-top: 1px solid #CCC;
  padding: 0 1em 1em 1em;
  margin: 0;
}
		
.config_option h3 {
  font-size: 1.2em;
}
			
ul.radiogroup {
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
			
span.textSizeMedium {
  font-size: medium; 
}
			
span.textSizeLarge {
  margin-top: 1em;
  font-size: large;
}
			
span.textSizeXLarge {
  margin-top: 1em;
  font-size: x-large;
}

div#prefOptions {
  padding: 1em;
}

input[type='submit'] {
  background: #FF5702;
  font-size: 1.2em;
  color: white;
  border: 0;
  padding: 0.3em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1em;
}

a.sign-out-btn {
  float: right;
}

button#installCVButton, button#installOnScreenKeyboardButton {
  padding: 0.5em;
  background: #CD3700;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.blackonwhite {
  background: white;
  color: black;
}

.whiteonblack {
  background: black;
  color: white;
}

.yellowonblack {
  background: black;
  color: yellow;
}

.blackonyellow {
  background: yellow;
  color: black;
}